{% extends 'crypto/base.html.twig' %}
{% block body %}
    <h2>Listado de Pokemons </h2>
   
   {% for item in crypto %}
    <div>
     <img style="max-width:100px" src="{{item.listLogoUrl}}">
    {{item.listname}}
   <button hrfe="http://localhost:8000"> Ver</button>
    </div>
    {% endfor %}

{% endblock %}
{% block title %}Listado de Pokemons{% endblock %}
